<!--listar_sensor.html-->
<html>
<head>
    <title> Dispositivos </title>

    {% extends "base.html" %}
    {% block content %}
    <div class="box-listar">
    <h1>Sensores</h1>
    <div class="vertical-center">
        <div class="container view">
            <div class="justify-content-center">
                {% if sensores|length > 0 %}
                    <table id="view_sensors" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>NOME</th>
                                <th>TÓPICO</th>
                                <th>UNIDADE DE MEDIDA</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sensor in sensores %}
                                <tr>
                                    <td>{{ sensor.name }}</td>
                                    <td>{{ sensor.topic }}</td>
                                    <td>{{ sensor.measure_unit }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>Ainda não há sensores registrados!</p>
                {% endif %}
            </div>
        </div>
    </div>
    </div>

    <div class="box-listar">
        <h1>Atuadores</h1>
        <div class="vertical-center">
            <div class="container view">
                <div class="justify-content-center">
                    {% if atuadores %}
                        <table id="view_actuators" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>NOME</th>
                                    <th>TÓPICO</th>
                                    <th>UNIDADE DE MEDIDA</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for actuator in atuadores %}
                                    <tr>
                                        <td>{{ actuator.name }}</td>
                                        <td>{{ actuator.topic }}</td>
                                        <td>{{ actuator.measure_unit }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>Ainda não há atuadores registrados!</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>
