<html>
    <body>
        {% extends "base1.html" %}
        {% block content %}
        <div class="box-register" style="font-family: sans-serif; transform: none; position: relative; left: 0;">
            <h1>Buscar</h1>
            <form action="http://localhost:8080/search" method="post">
            <p>Tipo</p>
            <p style="width: 90%;" >
                <select style="text-align: center;" name="option">
                    {% if session == "admin" %}
                    <option value="login"> Login/Logout </option>
                    <option value="modUser"> Modificação de Usuário </option>
                    <option value="modKit"> Modificação de Kit </option>
                    {% endif %}
                    {% if session == "admin" or session == "estatístico" %}
                    <option value="read"> Leituras </option>
                    {% endif %}
                    {% if session == "admin" or session == "operário" %}
                    <option value="write"> Comandos </option>
                    {% endif %}
                </select>
            </p>
            <p>Começo</p>
            <p style="width: 90%;">
                <input style="width: 100%; text-align: center; padding: 5px;" class="select" type="datetime-local" name="start" required/>
            </p>
            <p>Fim</p>
            <p style="width: 90%;">
                <input style="width: 100%; text-align: center; padding: 5px;" class="select" type="datetime-local" name="stop" required/>
            </p>
            <p><input style="width: 100%; margin-top: 16px;" type="submit" value="Buscar" /></p>
            </form>

            <div class="vertical-center">
                <div class="container view">
                    <div class="justify-content-center">
                        {% if logs|length > 0 %}
                            <table id="view_users" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th width="30%">Data/Horário</th>
                                        <th width="70%">Log</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for date, log in logs.items() %}
                                        <tr>
                                            <td width="30%">{{ date }}</td>
                                            <td width="70%">{{ log }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>      
        {% endblock %}
    </body>
</html>
