<!--register_sensor.html -->
<style> .header {align-items: normal;} </style>
{% extends"base.html" %}
{% block content%}
<link rel="stylesheet" href="static/css/style.css">

<div class="vertical-center">
    <div class="container">
        <div class="card-history">
            <div class="card-header-history">
                <div class="card-body-history">
                    <form action="http://localhost:8080/get_read" method="post">
                        <select name="id" class="Input-history">
                            {% for sensor in sensors %}
                                <option>{{ sensor.id }}</option>
                            {% endfor %}
                        </select>
                        <p></p>
                        <p></p>
                        <p></p>
                        Início:
                        <p><input type="datetime-local"  name="start" requires/></p>
                        Fim:
                        <p><input type="datetime-local"  name="end" requires/></p>
                        <p><input type = "submit" value = "Executar" /></p>
                    </form>
                    {% if read|length> 0 %}
                        <table id="view_read" class="table table-striped table-bordered" style="width:100%">
                            <p>Sensores:</p>
                            <thead>
                                <tr>
                                    <th>Sensor</th>
                                    <th>Valor</th>
                                    <th>Horário</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for read in read %}
                                    <tr>
                                        <td>{{ read.sensors_id }}</td>
                                        <td>{{ read.value }}</td>
                                        <td>{{ read.read_datetime }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %} 
                </div>
            </div>
        </div>
    </div>
</div>   
{% endblock%}